


 /* Imports */

 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap%27');





.center-pesq {
  justify-content: center;
  align-items: center;
  display: flex;
}
 #card-pesquisa .card{
   width: 100% !important;
 }  
 .outros{
   font-size: 3.5rem;
 }
 #logo {
   display: none;
 }
 #colapse{
   margin: 2% 2% 2% 4%;
 }
 .pd {
   padding-left: 2%;
 }
 .tamsl1{
   height: 700px;
 }
 .tamsl2{
   height: 700px;
 }
 .tamsl3{
   height: 700px;
 }
 .iphone-img {
   width: 86%;
 }
 .mercado-img{
   width: 91%;
   margin-top: 16%;
 }
 .logo-branca-carrossel{
   width: 100%;
   margin-top: 28%;
 }
 .card {
   width: 32%;
 }
 .center .BBG{
   font-size: 24px;
 }
 .card h5{
   font-size: 1rem;
 }
 .card p {
   font-size: .9rem;
 }
 .apg{
   display: none;
 }
 .bannersize {
   padding-top: 7rem;
   padding-bottom: 7rem;
 }



@media (min-width: 455px) {
 #logo {
   display: none;
 }
}

@media (min-width: 579px) {
 .CAT {
   display: block;
 }
 #logo {
   display: block;
 }

 .logo-branca-header{
   width: 200px;
 }
 .center .BBG{
   font-size: 6px;
 }
}
@media (min-width: 650px) {
.tamsl1{
   height: 740px;
 }
 .tamsl2{
   height: 740px;
 }
 .tamsl3{
   height: 740px;
 }
 .iphone-img {
   width: 73%;
 }
 .mercado-img{
   width: 91%;
   margin-top: 16%;
 }
 .logo-branca-carrossel{
   width: 100%;
   margin-top: 20%;
   margin-bottom: 5%;
 }
}
@media (min-width: 768px) {
 .carrossel-md {
     margin-left: auto;
     margin-right: auto;
 }
 .CAT {
   display: block;
 }
 .logo-branca-header{
   width: 179px;
 }
 .card{
   width: 23%;
 }
 .center .BBG{
   font-size: 67px;
 }
 .card h5{
   font-size: 1.38rem;
 }
 .card p {
   font-size: 1.1rem;
 }
 
}
@media (min-width: 822px) {
 .tamsl1{
   height: 740px;
 }
 .tamsl2{
   height: 740px;
 }
 .tamsl3{
   height: 740px;
 }
 .iphone-img {
   width: 57%;
 }
 .mercado-img{
   width: 91%;
   margin-top: 2%;
 }
 .logo-branca-carrossel{
   width: 100%;
   margin-top: 10%;
   margin-bottom: 5%;
 }
}




@media (min-width: 992px){
 .navbar-expand-lg .navbar-collapse {
     display: block !important;
     flex-basis: auto;
 }
 .iphone-img {
   margin-left: 30%;
 }
 .mercado-img{
   margin-left: 30%;
 }
 .iphone-img{
   width: 17.7rem;
   margin-top: 0;
   margin-bottom: 5%;
   margin-left: 30%;
 }
 .logo-branca-carrossel{
   width: 25rem;
   margin-top: 10% ;
   margin-bottom: 15% ;
   margin-left: 15%;
 }
 .mercado-img{
   width: 22.4rem;
   margin-top: 7%;
   margin-bottom: 10%;
   margin-left: 21%;
 }
 .logo-branca-header{
   width: 179px;
 }
 .mg-logo {
   margin:0;
   padding: 0;
   height: 64px;
   width: 194px;
 }
 .CAT {
   display: flex;
 }
 .carrinho {
   display: flex;
   justify-content: end;
   flex-direction: column;
   align-items: flex-end;
 }
 #colapse {
   display: none;
 }
 .collapse:not(.show) {
   display: flex !important;
 }
 .apg{
   display: flex;
 }
 .smg{
   display: none;
 }
}
 
@media (min-width: 1000px) {
 .login {
   padding-left: 0.5rem;
   margin-top: -6%;
 }
 .grande{
   width: 500px;
 }
 .logo-branca-header{
   width: 200px;
 }
 .GB {
   display: block;
 }
 .pd{
   padding-left: 0%;
 }
 .collapse {
   display: flex;
 }
 .tamsl1{
   height: auto;
 }
 .tamsl2{
   height: auto;
 }
 .tamsl3{
   height: auto;
 }
 
}


@media (min-width: 1200px) {
 .bannerimgmd {
     margin-left: 45%;
     margin-top: 40%;
 }
 .iphone-img{
   width: 17.7rem;
   margin-top: 0;
   margin-bottom: 5%;
   margin-left: 34%;
 }
 .logo-branca-carrossel{
   width: 25rem;
   margin-top: 10% ;
   margin-bottom: 15% ;
   margin-left: 15%;
 }
 .mercado-img{
   width: 22.4rem;
   margin-top: 7%;
   margin-bottom: 10%;
   margin-left: 24%;
 }
 input[type=search] {
   width: 100%;
 }
 .logo-branca-header{
   width: 213px;
 }
 .mg-logo {
   margin:0;
   padding: 0;
   height: 64px;
   width: 194px;
 }
 .CAT {
   display: flex;
 }
 h1{
   font-size: 4.5rem;
 }
 .card {
   width: 18%;
 }
}


@media (min-width:1400px) {
 
}
 

/* Header */

.bg-primary{
 background-color: #33aaff !important; 
}
.bet {
 width: 100%;
}
.black {
 background-color: #33aaff;
}

.nav-link {
 color: white;
}
.nav-link:hover{
 color: #818e9e;
}




/* Carrossel  */

.carousel-inner .row {
 height: 392px !important;
}
.bg-slide1{
   background: linear-gradient( #33AAFF 3%, #4760FF, #8A2BE2 119%) !important;
 
  
}
.mx-slide{
 margin-left: 10% !important;
 margin-right: 6% !important;
}
.my-slide{
 margin-top: 4rem;
 margin-bottom: 3rem;
}
.GB {
 width: 100%;
}
li{
 list-style-type: none !important;
}
.mg{
 margin-left: 21%;
 margin-top: -1.7%;
}
.navbar-expand-lg .navbar-collapse .block {
 display: block !important;
}




/* Pesquisa */

.centro {
 align-items: center;
 justify-content: center;
}

.DEGpesq {
 background: linear-gradient( #743dec 3%, #624082 119%) !important;
 padding-top: 2%;
}


 /* Main */


body {
 background: #e6f1f1;
 height: 100vh;
 width: 100%;

 color: #000000;

 font-size: 16px;
}
.tmn {
 width: 100%;
}
.card h5 {
 margin-top: 4%;
}
.card p {
 vertical-align: bottom;
 margin-bottom: 4%;
 margin-top: 0;
}
.card-body {
   height: 131px !important;
   display: flex;
   padding: 0;
   justify-content: space-between;
   flex-direction: column;
   color: black;
   
}
.card .button {
 vertical-align: bottom;
}
.card button {
 justify-content: end;
 width: 100%;
}

.img-card{
 width: 70%;
 margin-left: auto;
 margin-right: auto;
}
.card{
 flex-shrink: 0;
 margin-top: 0;
 box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
 margin-right: 1%;
 margin-left: 1%;
 padding: 2%;
 max-width: 100%;
 max-height: 100%;
 transition: all ease 0.20s;
}

.root{
 width: 100%;
}
.cards {
 display: flex;
 width: 80%;
 align-items: center;
 overflow: hidden;
 transition: all ease 0.20s;
}
.btn-primary {
   color: #fff;
   background-color: #33aaff;
   border-color: #33aaff;
}
.h6{
   margin: 5% 0 10% 0;
}


.center {
 justify-content: center;
 align-items: center;
 display: flex;
 margin-bottom: 2%;
}
.center i {
 font-size: 4rem;
}
.center .BBG{
 cursor: pointer;
}

  /* Titulo Oferta */

.oferta-title {
 margin-top: 1%;
 margin-bottom: 2%;
}
.bg-blue{
 background-image: linear-gradient( #33aaff 3%, #624082 119%) !important;
 -webkit-background-clip: text;
 background-clip: text !important;
 color: transparent !important;
}


/* banner */
 

 .texto-banner {
     text-align: end;
 }

 .pa h1 {
     font-weight: lighter;
     font-family: 'lato', 'sans-serif';
 }

 .banner-bg {
     background: linear-gradient(#0DCCFF -5%, #4760FF, #8A2BE2 119%) !important;
     
 }

 .Redes {
     padding-bottom: .2rem;
     padding-top: .2rem;
     
 }

 .texto-redes {
     text-align: center;
     padding-top: 5px;
     font-family: 'lato', 'sans-serif';
     font-size: 2.3rem;
 }

 .pe i {
     color: #FFF;
     font-size: 400%;
 }

 .icones {
     display: flex;
     justify-content: center;
 }
 .bannerimg {
   display: flex;
   justify-content: center;
   align-items: center;
 }

/* Barrra de pesquisa */
 .form-control {
   display: block;
   width: 100%;
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   background-color: #fff;
   background-clip: padding-box;
   border: 0.5px solid #ced4da;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border-radius: 0.25rem 0 0 0.25rem;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }
 .btn-pesquisa{
   border-radius: 0 0.25rem 0.25rem 0;
   background-color: #fff;
   border: 0.5px solid #ced4da;
 }
 .container{
   width: 80%;
   padding: 0;
 }

 


  /* footer */

 footer{
   background-color: #33aaff;
   color: #fff;
 }
 .logo-branca-footer{
     width: 50%;
 }
 .texto-footer{
     text-align: justify;
 }
 .imagem-footer{
     margin-left: 0  
 }
 .participantes-footer{
     margin-top: 7%;
 }
 .qmsomos{
   color: #FFF;
   text-decoration: none;

   margin-bottom: 4%;
 }
 .ajuste {
   justify-content: center;
   display: flex;
   flex-direction: column;
 }
 .fot{
   background: linear-gradient( #8A2BE2 3%, #4760FF,  #33AAFF 119%);
   margin-top: 5rem;
 }
 footer p{
   font-size: 1rem;
 }
 footer .title {
   color: rgb(212, 212, 212);
 }
 footer a{
   color: white;
   text-decoration: none;
 }
 footer a:hover{
   text-decoration: underline;
   color: rgb(185, 184, 184);
 }
 .logo-footer{
   width: 40%;
 }


 /* Produtos */

 
 .j-margin-left-2{
   margin-left: 25px;
 }
.j-margin-right-2{
   margin-right: 25px;
 }
.j-margin{
     margin: 30px;
 }
.j-icone-frete{
   font-size: 20px;
 }
.j-descriçao{
   font-size: 15px;
   text-decoration: none;
 }
.j-button{
   padding-left: 35px;
   padding-right: 35px;
   padding-top: 15px;
   padding-bottom: 15px;
 }
.j-boxshadow{
   box-shadow: -1px 5px 19px 3px rgba(0,0,0,0.40);
   border-radius: 15px 15px 15px 15px;
 }
.j-img-produto{
   margin: 10px;
 }
.j-border{
     border: solid cyan;
     border-radius: 15px 15px 15px 15px;
 }
.j-pointer{
   cursor: pointer;
 }
.j-img{
   width: 100%;
 }

 /* Comparação das lojas */
 .j-margin-left-2{
   margin-left: 25px;
 }
 .j-margin-right-2{
   margin-right: 25px;
 }
 .j-icone-frete{
   font-size: 20px;
 }
 .j-descriçao{
   font-size: 15px;
   text-decoration: none;
 }
 .j-button{
   padding-left: 35px;
   padding-right: 35px;
   padding-top: 15px;
   padding-bottom: 15px;
 }
 .j-boxshadow{
   box-shadow: -1px 5px 19px 3px rgba(0,0,0,0.40);
   border-radius: 15px 15px 15px 15px;;
 }
 
 .j-img-produto{
   margin: 10px;
 }

/* Prouto */

 
 .Nome_Produto {
   margin-top: 5%;
 }
 .Img_Elemento {
   width: 60%;
   padding: 2%;
   margin-left: 20%;
   margin-top: 8%
 }
 .border-row {
   box-shadow: -1px 5px 19px 3px rgba(0,0,0,0.40);
   border-radius: 15px 15px 15px 15px;;
   margin-top: 2%;
   margin-bottom: 2%;
 }
 .fonte-texto {
   font-size: 25px;
   font-weight: 400;
   padding-right: 150px;

 }
 .preço_produto {
   font-size: 30px;
   font-weight: 300;
   color: #33AAFF;
 }
 .preço_produto2 {
   padding-right: 150px;

 }
 #botaoSumir {
   margin-top: 52%;
 }